In [1]:
2+2

4

In [2]:
# The code was removed by Watson Studio for sharing.

   gender drugs   pain
0    male     C  12.40
1  female     A   7.69
2    male     C  14.00
3  female     A   9.69
4    male     C  11.60